@{
    ViewBag.Title = "EditDataItemType";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>

    var keyValue = request('keyValue');
    $(function() {
        getTableTree();
        loadData();
    });

    function getTableTree() {
        var item = {
            height: 300,
            width: 200,
            showcheck: true,
            url: "../../CollectionManage/DataItemTypeManage/GetCategoryTreeJson",
            onnodeclick: function(item) {
                $("#parentName").val(item.text);
                $("#PARENT").val(item.id);
                $("#parentGrade").val(item.grade);
                $("#GRADE").val(parseInt(item.grade) + 1);
            }
        };
        $("#itemTree").treeview(item);
    }

    function AcceptClick() {
        debugger;
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData.STATUS = $('input[name="STATUS"]:checked').val();
        //postData.SFBT = $('input[name="SFBT"]:checked').val();
        debugger;
        $.SaveForm({
            url: "../../CollectionManage/DataItemTypeManage/SaveForm",
            param: postData,
            loading: "正在保存数据...",
            success: function() {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");

                $.currentIframe().getTableTree();
            }
        });
        return false;
    }

    function loadData() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CollectionManage/DataItemTypeManage/GetDataItemJson",
                param: { keyValue: keyValue },
                success: function(data) {
                    $("#form1").SetWebControls(data);
                    if (data.STATUS === "1")
                        $('input:radio[name=STATUS]')[0].checked = true;
                    else
                        $('input:radio[name=STATUS]')[1].checked = true;

                }
            });
        }
    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center" style="width: 40%; float: left; padding-left: 3px">
        <div class="center-Panel">
            <div id="itemTree" style="margin: 3px; overflow: auto;"></div>
        </div>

    </div>
    <div class="ui-layout-west" style="width: 60%; float: left; padding-right: 15px">
        <div class="west-Panel" style="padding-top: 0px; border: 0">
            <table class="form" style="margin-top: 100px; margin-bottom: 50px">
                <tr style="display: none">
                    <td class="formValue">
                        <input id="GRADE" type="text"/>
                        <input id="TYPEID" type="text"/>
                    </td>

                </tr>
                <tr>
                    <th class="formTitle"><font face="宋体">*</font>分类名称：</th>
                    <td class="formValue">
                        <input id="NAME" type="text" maxlength="32" class="form-control" placeholder="" isvalid="yes" checkexpession="NotNull"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle"><font face="宋体">*</font>上级：</th>
                    <td class="formValue">
                        <input id="parentGrade" type="hidden"/>
                        <input id="PARENT" type="hidden"/>
                        <input id="parentName" disabled="disabled" type="text" class="form-control" placeholder="请在左边列表选择分类" isvalid="yes" checkexpession="NotNull"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">状态：<font face="宋体">*</font></th>
                    <td class="formValue">
                        <div style="display: inline-block;" class="rdio rdio-color_c">
                            <input type="radio" name="STATUS" value="1" checked="checked"/><label for="STATUS1">有效</label>
                        </div>
                        <div style="display: inline-block; padding-right: 30px;" class="rdio rdio-color_a">
                            <input type="radio" name="STATUS" value="0"/><label for="STATUS0">无效</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>