@{
    ViewBag.Title = "标准药品信息编辑";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}

@*<style>
    本页面参考/BaseManage/User/Index和Form
    .form td.formValue {
        padding-left: 40px;
    }
</style>*@

<script>
    debugger;
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //$("#JXQY").ComboBox({
        //    url: "../../PerfConfig/KpiSetting/GetOrgsJson",
        //    param: { forSearch: false },//url参数
        //    id: "ItemValue",//选项值
        //    text: "ItemText",//选项文本
        //    height: "200px",
        //    description: "==请选择=="//默认
        //});
        //if (!!keyValue) {
        //    $.SetForm({
        //        url: "../../PerfConfig/YearSetting/GetYearJson",
        //        param: { keyValue: keyValue },
        //        success: function (data) {
        //            $("#form1").SetWebControls(data);
        //            $('#FWZT' + data.FWZT).trigger('click');
        //            $("#KSSJ").val(formatDate(data.KSSJ, "yyyy-MM-dd"));
        //            $("#JZSJ").val(formatDate(data.JZSJ, "yyyy-MM-dd"));
        //        }
        //    });
        //}

        //加载自定义表单
        //var moduleId = top.$.cookie('currentmoduleId');
        //$.SetForm({
        //    url: "../../AuthorizeManage/ModuleForm/GetEntityJsonByModuleId",
        //    param: { "keyValue": moduleId, "objectId": keyValue },
        //    async: true,
        //    success: function (data) {
        //        $('#frmpreview').frmPreview({
        //            tablecotent: data.form.FormJson,
        //            width: 700
        //        });
        //        formId = data.form.FormId;
        //        if (data.instance != null) {
        //            $('#frmpreview').frmSetData(JSON.parse(data.instance.FormInstanceJson));
        //            instanceId = data.instance.FormInstanceId;
        //        }
        //    }
        //});
    }

    //保存表单
    function AcceptClick() {
        //if (!$('#form1').Validform()) {
        //    return false;
        //}
        //var postData = $("#form1").GetWebControls(keyValue);
        //postData.FWZT = $('input[name="FWZT"]:checked').val()
        //debugger;
        //$.SaveForm({
        //    url: "../../PerfConfig/YearSetting/SaveYear",
        //    param: postData,
        //    loading: "正在保存数据...",
        //    success: function () {
        //        $.currentIframe().$("#gridTable").trigger("reloadGrid");
        //    }
        //});
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-value="Account">账户</a></li>
                            <li><a data-value="RealName">姓名</a></li>
                            <li><a data-value="Mobile">手机</a></li>
                        </ul>
                    </div>
                </td>
                <td style="padding-left: 2px;">
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="margin-left: 10px; margin-right: 10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#BaseInfo" data-toggle="tab">基本信息</a></li>
        <li><a href="#ExpandInfo" data-toggle="tab">扩展属性</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active" style=" padding-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">药品代码<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Account" type="text" onblur="$.ExistField(this.id,'../../BaseManage/User/ExistAccount')" class="form-control" placeholder="请输入药品代码" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td class="formTitle">药品名称<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Password" type="text" class="form-control" placeholder="" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">药品注册名称<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="OrganizeId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                    <td class="formTitle">注册剂型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="DepartmentId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">注册规格</td>
                    <td class="formValue">
                        <div id="DutyId" type="text" class="form-control"></div>
                    </td>
                    <td class="formTitle">包装材质</td>
                    <td class="formValue">
                        <div id="PostId" type="text" class="form-control"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">最小包装数量</td>
                    <td class="formValue">
                        <div id="RoleId" type="text" class="form-control"></div>
                    </td>
                    <td class="formTitle">最小制剂单位</td>
                    <td class="formValue">
                        <div id="ManagerId" type="text" class="form-control"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">最小包装单位</td>
                    <td class="formValue">
                        <input id="EnCode" type="text" class="form-control" />
                    </td>
                    <td class="formTitle">药品企业<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="RealName" type="text" class="form-control" placeholder="" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">批准文号</td>
                    <td class="formValue">
                        <div id="Gender" type="text" class="form-control"></div>
                    </td>
                    <td class="formTitle">药品本位码</td>
                    <td class="formValue">
                        <input id="Birthday" type="text" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">医保甲乙类</td>
                    <td class="formValue">
                        <input id="Mobile" type="text" class="form-control" />
                    </td>
                    <td class="formTitle">医保编号</td>
                    <td class="formValue">
                        <input id="Telephone" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">医保药品名称</td>
                    <td class="formValue">
                        <input id="Email" type="text" class="form-control" />
                    </td>

                    <td class="formTitle">医保药品剂型</td>
                    <td class="formValue">
                        <input id="WeChat" type="text" class="form-control" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 4px;">
                        医保备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Description" class="form-control" style="height: 50px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div id="ExpandInfo" class="tab-pane ">
            <div class="app_layout app_preview" style="border-top: 1px solid #ccc;" id="frmpreview"></div>
        </div>
    </div>
</div>

