@{
    ViewBag.Title = "采集表年度管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>


    //var selectedRowIndex = 1;
    var selectYear = "";

    $(function() {
        loadData();
        initialPage();
    });

    function loadData() {
        bindEvent();
        getYearSetting();
        getGridTable();
    }

    function bindEvent() {

        $("#YXZT .dropdown-menu li").click(function() {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#YXZT .dropdown-text").html(text).attr('data-value', value);
        });

    }

    function getYearSetting() {
        //加载年度数据
        $.SetForm({
            url: "../../PerfConfig/YearSetting/GetYearStrJson",
            param: {},
            success: function(data) {
                $.each(data,
                    function(id, item) {
                        var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                        $('#JXND').find('ul').append(row);
                    });
                //年度选中，生成查询条件
                $("#JXND .dropdown-menu li").click(function() {
                    var text = $(this).find('a').html();
                    var value = $(this).find('a').attr('data-value');
                    $("#JXND .dropdown-text").html(text).attr('data-value', value);
                });
            }
        });
    }

    //初始化页面
    function initialPage() {
        //resize重设(表格、树形)宽高
        $(window).resize(function(e) {
            window.setTimeout(function() {
                    resizePage();
                },
                200);
            e.stopPropagation();
        });
        resizePage();
    }

    function resizePage() {
        $("#gridTable").setGridHeight($(window).height() - 150);
        $('#gridTable').setGridWidth(($('.gridPanel').width() - 1));
        $("#itemTree").height($(".gridPanel").height());
    };

    function getTableTree(nd) {
        var item = {
            height: $(".gridPanel").height(),
            showcheck: true,
            url: "../../CollectionManage/TableManage/GetTreeListForYear?year=" + nd
        };
        $("#itemTree").treeview(item);
    }


    //加载表格
    function getGridTable() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../CollectionManage/TableYearManage/GetPageList",
            datatype: "json",
            height: $(window).height() - 136.5,
            autowidth: true,
            colModel: [
                { label: "主键", name: "JXBM", hidden: true },
                { label: "绩效年度", name: "JXND", index: "JXND", align: "center" },
                {
                    label: "服务状态",
                    name: "FWZT",
                    index: "FWZT",
                    align: "center",
                    formatter: function(cellvalue, options, rowObject) {
                        return cellvalue === "0" ? "正常绩效" : "历年绩效";
                    }
                },
                {
                    label: "运行状态",
                    name: "YXZT",
                    index: "YXZT",
                    align: "center",
                    formatter: function(cellvalue, options, rowObject) {
                        return cellvalue === "0" ? "未启动" : (cellvalue === "1" ? "已启动" : "已停止");
                    }
                },
                { label: "备注", name: "REMARK", index: "REMARK", align: "center" },
            ],
            viewrecords: true, //显示检索记录
            rowNum: 30, //每页数量，Pagination的字段rows
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'JXND', //排序字段，Pagination的字段sidx，分页必须传
            sortorder: 'desc', //排序方式，Pagination的字段sord，默认asc
            rownumbers: true, //是否显示自增序号
            onSelectRow: function() {
                //selectedRowIndex = $("#" + this.id).getGridParam('selrow');
                selectYear = $("#" + this.id).jqGridRowValue("JXND");
                getTableTree(selectYear);
            },
            gridComplete: function() {
                $("#" + this.id).setSelection(1, false);
                selectYear = $("#" + this.id).jqGridRowValue("JXND");
                getTableTree(selectYear);
            }
        });
        $gridTable.authorizeColModel($('.gridPanel').width());
        //查询事件
        $("#btn_Search").click(function() {
            var queryJson = {
                year: $("#JXND").find('.dropdown-text').attr('data-value'),
                status: $("#YXZT").find('.dropdown-text').attr('data-value')
            }
            $gridTable.jqGrid('setGridParam',
                {
                    postData: { queryJson: JSON.stringify(queryJson) }
                }).trigger('reloadGrid');
        });
    }

    function saveData() {
        var tablesIds = String($("#itemTree").getCheckedNodes());
        if (tablesIds === "null") {
            dialogAlert("请选择年度记录");
            return;
        }

        var postData = {
            year: selectYear,
            tableIds: tablesIds
        };
        $.SaveForm({
            url: "../../CollectionManage/TableYearManage/SaveData",
            param: postData,
            loading: "正在保存数据...",
            success: function() {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center" style="width: 70%; float: left;">
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <div id="JXND" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择绩效年度</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu"></ul>
                                </div>
                            </td>
                            <td>
                                <div id="YXZT" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">运行状态</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-value="">全部</a>
                                        </li>
                                        <li>
                                            <a data-value="0">未启动</a>
                                        </li>
                                        <li>
                                            <a data-value="1">已启动</a>
                                        </li>
                                        <li>
                                            <a data-value="2">已停止</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                        <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        <a id="lr-enabled" class="btn btn-default" onclick="btn_enabled()"><i class="fa fa-refresh"></i>&nbsp;启用/停用</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
    <div class="ui-layout-west" style="width: 30%; float: left;">
        <div class="west-Panel">
            <div class="panel-Title" style="height: 37px;">
                <input id="btnSave" type="button" onclick="saveData()" class="btn btn-primary" style="height: 30px" value="保存采集表"/>
            </div>
            <div id="itemTree" style="margin: 10px;">请选择左边列表</div>

        </div>
    </div>
</div>