@{
    ViewBag.Title = "部门绩效评价设置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var jxbm = '',
        jgfabh = '',
        pjffList = '&nbsp:;';
    $(function () {
        InitialPage();
        GetSchemeType();
        GetGrid();
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    });
    //初始化页面
    function InitialPage() {
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载树
    function GetSchemeType() {
        //加载年度数据
        $.SetForm({
            url: "../../PerfConfig/YearSetting/GetYearBmsJson",
            param: { forSearch: false },
            success: function (data) {
                jxbm = data[0].ItemValue;
                $("#Year .dropdown-text").html(data[0].ItemText).attr('data-value', jxbm);
                $.each(data, function (id, item) {
                    var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                    $('#Year').find('ul').append(row);
                });
                //年度选中，生成查询条件
                $("#Year .dropdown-menu li").click(function () {
                    var text = $(this).find('a').html();
                    jxbm = $(this).find('a').attr('data-value');
                    $("#Year .dropdown-text").html(text).attr('data-value', jxbm);
                    //加载部门方案数据
                    $.SetForm({
                        url: "../../PerfScheme/PerfSchemeSetting/GetDeptSchemedataBmsJson",
                        param: { queryJson: JSON.stringify({ jxbm: jxbm }) },
                        success: function (data) {
                            jgfabh = data[0].ItemValue;
                            $("#DeptScheme .dropdown-text").html(data[0].ItemText).attr('data-value', jgfabh);
                            $('#DeptScheme').find('ul').html("");
                            $.each(data, function (id, item) {
                                var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                                $('#DeptScheme').find('ul').append(row);
                            });
                            //部门方案选中，生成查询条件
                            $("#DeptScheme .dropdown-menu li").click(function () {
                                var text = $(this).find('a').html();
                                jgfabh = $(this).find('a').attr('data-value');
                                $("#DeptScheme .dropdown-text").html(text).attr('data-value', jgfabh);
                            });
                        }
                    });
                });
            }
        });
        //加载部门方案数据
        $.SetForm({
            url: "../../PerfScheme/PerfSchemeSetting/GetDeptSchemedataBmsJson",
            param: { queryJson: JSON.stringify({ jxbm: jxbm }) },
            success: function (data) {
                jgfabh = data[0].ItemValue;
                $("#DeptScheme .dropdown-text").html(data[0].ItemText).attr('data-value', jgfabh);
                $.each(data, function (id, item) {
                    var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                    $('#DeptScheme').find('ul').append(row);
                });
                //部门方案选中，生成查询条件
                $("#DeptScheme .dropdown-menu li").click(function () {
                    var text = $(this).find('a').html();
                    jgfabh = $(this).find('a').attr('data-value');
                    $("#DeptScheme .dropdown-text").html(text).attr('data-value', jgfabh);
                });
            }
        });
        //加载评价方法数据
        $.SetForm({
            url: "../../PerfScheme/PerfSchemeSetting/GetAppraisedataBmList",
            param: {},
            success: function (data) {
                pjffList = '&nbsp:;';
                $.each(data, function (id, item) {
                    pjffList += item.PJFFBH + ':' + item.PJFFMC + ';'
                });
                pjffList = pjffList.substring(0, pjffList.length - 1);
            }
        });
    }
    var selectedRowIndex = 0;
    //加载表格
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../PerfScheme/PerfSchemeSetting/GetPerfDeptSchemeAppraisedataList",
            datatype: "json",
            height: $(window).height() - 136.5,
            autowidth: true,
            colModel: [
                { label: "年度", name: "SYND", index: "SYND", align: "center", width: "30" },
                { label: "部门方案编号", name: "JGFABH", index: "JGFABH", hidden: true },
                { label: "方案名称", name: "JGFAMC", index: "JGFAMC", align: "center", width: "70" },
                { label: "部门", name: "Department", index: "Department", align: "center", width: "50" },
                { label: "评价方法编号", name: "PJFFBH", index: "JGFABH", hidden: true },
                {
                    label: "评价方法", name: "PJFFMC", index: "PJFFMC", align: "center", editable: true, edittype: "select",
                    editoptions: {
                        value: pjffList,
                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    $gridTable.setCell(selectedRowIndex, "PJFFBH", $(this).val());
                                    $gridTable.jqGrid('saveRow', selectedRowIndex, false, 'clientArray');
                                }
                            }
                        ]
                    }
                },
            ],
            viewrecords: true,//显示检索记录
            rowNum: 20,//每页数量，Pagination的字段rows
            pager: "#gridPager",
            sortname: 'SYND desc,JGFABH,Department',//排序字段，Pagination的字段sidx，分页必须传
            //sortorder: 'desc',//排序方式，Pagination的字段sord，默认asc
            rownumbers: true,//是否显示自增序号
            ondblClickRow: function (rowid, iRow, iCol, e) {
                $gridTable.jqGrid('saveRow', selectedRowIndex, false, 'clientArray');
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
                $gridTable.jqGrid('editRow', rowid);
            },
            onCellSelect: function (rowid, iCol, cellcontent, e) {
                $gridTable.jqGrid('saveRow', selectedRowIndex, false, 'clientArray');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
        $("#btn_Search").click(function () {
            var queryJson = {
                jxbm: $("#Year").find('.dropdown-text').attr('data-value'),
                jgfabh: $("#DeptScheme").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val(),
            };
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                //保证搜索时是第一页
                page: 1
            }).trigger('reloadGrid');
        });
    }

    //保存按钮触发事件
    function btn_save() {
        var list = [];
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid('saveRow', selectedRowIndex, false, 'clientArray');
        var ids = $gridTable.getDataIDs();
        if (ids.length > 0) {
            for (var i = 0; i < ids.length; i++) {
                list.push({ 'JGFABH': $gridTable.getCell(ids[i], "JGFABH"), 'PJFFBH': $gridTable.getCell(ids[i], "PJFFBH") })
            }
            $.ConfirmAjax({
                msg: "请确认是否要保存当前页记录？",
                url: "../../PerfScheme/PerfSchemeSetting/SaveDeptSchemeAppraisedata",
                param: { appraisedataList: JSON.stringify(list) },
                success: function (data) {
                    $gridTable.trigger("reloadGrid");
                }
            });
        } else {
            dialogMsg('当前页没有记录行！', 0);
            return;
        }
    }

</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <div id="Year" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择年度</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu"></ul>
                    </div>
                </td>
                <td>
                    <div id="DeptScheme" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择部门方案名称</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu" style="max-height: 300px; overflow:auto;"></ul>
                    </div>
                </td>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入部门方案名称" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                </td>
                <td>
                    <a id="btn_Save" class="btn btn-primary" onclick="btn_save()">保存</a>
                </td>
            </tr>
        </table>
    </div>
    @*<div class="toolbar">
        <div class="btn-group">
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a id="lr-enabled" class="btn btn-default" onclick="btn_enabled()"><i class="fa fa-refresh"></i>&nbsp;指标配置</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>*@
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
