@{
    ViewBag.Title = "元数据分析器设置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    * {
        box-sizing: content-box;
    }

    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    .ui-widget-content {
        border: 1px solid #ccc !important;
    }
</style>
<script>
    var searchType = 'analyzerCode',
        jxbm = '',
        metaDataCode = '',
        analyzerCode = '';
    $(function () {
        InitialPage();
        GetMetaGrid();
        GetAnalyzerGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设表格宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#metaDataTable').setGridWidth($(window).width() / 2 - 100);
                $('#analyzerTable').setGridWidth($(window).width() / 2 - 126);
                $('#metaDataTable').setGridHeight($(window).height() - 143.5);
                $('#analyzerTable').setGridHeight($(window).height() - 143.5);
            }, 200);
            e.stopPropagation();
        });

        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            searchType = value;
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //元数据名称查询事件
        $("#btn_Search1").click(function () {
            var searchUrl = 'GeMetaDataListJson';
            $gridTable = $('#metaDataTable');
            if (searchUrl != '') {
                $gridTable.jqGrid('setGridParam', {
                    url: searchUrl,
                    postData: {
                        "queryJson": JSON.stringify({
                            type: "0",
                            keyword: $("#txt_metaData").val()
                        })
                    },
                    page: 1
                }).trigger('reloadGrid');
                metaDataCode = '';
                analyzerCode = '';
            } else {
                dialogMsg('请选择分析器编码或名称！', 0);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            var searchUrl = 'GetMetaDataAnalyzerListJson';
            $gridTable = $('#analyzerTable');
            if (searchUrl != '') {
                $gridTable.jqGrid('setGridParam', {
                    url: searchUrl,
                    postData: {
                        "queryJson": JSON.stringify({
                            type: "0",
                            keyword: $("#txt_Keyword").val()
                        })
                    },
                    page: 1
                }).trigger('reloadGrid');
                metaDataCode = '';
                analyzerCode = '';
            } else {
                dialogMsg('请选择分析器编码或名称！', 0);
            }
        });
        //元数据名称查询回车
        $('#txt_metaData').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search1').trigger("click");
            }
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //加载元数据列表
    function GetMetaGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $("#metaDataTable");
        $gridTable.jqGrid({
            url: "GeMetaDataListJson",
            datatype: "json",
            height: $(window).height() - 143.5,
            width: $(window).width() / 2 - 113,
            //autowidth: true,
            colModel: [
                { label: "绩效编码", name: "JXBM", index: "JXBM", hidden: true },
                { label: "元数据分类", name: "SECTYPENAME", index: "SECTYPENAME", width: "80" },
                { label: "元数据编码", name: "METCODE", index: "METCODE", hidden: true },
                { label: "元数据名称", name: "METNAME", index: "METNAME" },
                { label: "分析编码", name: "FXQBM", index: "FXQBM" },
                {
                    label: "配置情况", name: "FXQBM", index: "FXQBM", align: "center", width: "60",
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue == null ? "未配置" : "已配置";
                    }
                }
            ],
            viewrecords: true,//显示检索记录
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#metaDataPager",
            sortname: 'SECTYPENAME',
            sortorder: 'asc',
            rownumbers: true,
            onSelectRow: function () {
                jxbm = $("#" + this.id).jqGridRowValue("JXBM");
                metaDataCode = $("#" + this.id).jqGridRowValue("METCODE");
            },
        });
        //$gridTable.authorizeColModel($('.gridPanel').width());
    }
    //加载分析器列表
    function GetAnalyzerGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $("#analyzerTable");
        $gridTable.jqGrid({
            url: "GetMetaDataAnalyzerListJson",
            postData: {
                "queryJson": JSON.stringify({
                    type: "0"
                })
            },
            datatype: "json",
            height: $(window).height() - 143.5,
            width: $(window).width() / 2 + 67,
            //autowidth: true,
            colModel: [
                { label: "分析编码 ", name: "FXQBM", index: "FXQBM" },
                { label: "分析名称", name: "FXQMC", index: "FXQMC" },
                { label: "分析注释", name: "FXQZJ", index: "FXQZJ" },
            ],
            viewrecords: true,//显示检索记录
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#analyzerPager",
            sortname: 'CREATEAT desc,FXQBM',
            sortorder: 'desc',
            rownumbers: true,
            onSelectRow: function () {
                analyzerCode = $("#" + this.id).jqGridRowValue("FXQBM");
            },
        });
        //$gridTable.authorizeColModel($('.gridPanel').width());
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: "Form",
            title: "分析器新增",
            url: '/PerfConfig/AnalyzerSetting/Analyzer?fxqlx=0',
            width: "500px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    };
    //修改
    function btn_edit() {
        if (checkedRow(analyzerCode)) {
            dialogOpen({
                id: "Form",
                title: "分析器修改",
                url: '/PerfConfig/AnalyzerSetting/Analyzer?fxqlx=0&keyValue=' + analyzerCode,
                width: "500px",
                height: "400px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
    //删除
    function btn_delete() {
        if (analyzerCode) {
            $.RemoveForm({
                url: 'DelMetaDataAnalyzer',
                param: { fxqbm: analyzerCode },
                success: function (data) {
                    $('#analyzerTable').trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的编码！', 0);
        }
    }
    //关联
    function btn_relate() {
        if (metaDataCode && analyzerCode) {
            $.SaveForm({
                url: 'RelateMetaData',
                param: { jxbm: jxbm, metaCode: metaDataCode, fxqbm: analyzerCode },
                success: function (data) {
                    $("#metaDataTable").jqGrid('setGridParam').trigger('reloadGrid');
                }
            });
        } else {
            dialogMsg('请选择一个元数据编码和一个分析器编码！', 0);
        }
    }
    //重置
    function btn_remove() {
        if (metaDataCode) {
            $.SaveForm({
                url: 'RelateMetaData',
                param: { jxbm: jxbm, metaCode: metaDataCode, fxqbm: '' },
                success: function (data) {
                    $("#metaDataTable").jqGrid('setGridParam').trigger('reloadGrid');
                }
            });
        } else {
            dialogMsg('请选择一个元数据编码！', 0);
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="center-Panel">
        <div class="titlePanel">
            <div class="title-search">
                <table>
                    <tr>
                        <td>
                            <input id="txt_metaData" type="text" class="form-control" placeholder="请输入元数据名称" style="width: 160px;" />
                        </td>
                        <td style="padding-left: 5px;">
                            <a id="btn_Search1" class="btn btn-primary" style="box-sizing: border-box;"><i class="fa fa-search"></i>&nbsp;查询</a>
                        </td>
                        <td style="padding-left: 110px;">
                            <div id="queryCondition" class="btn-group" style="box-sizing: border-box;">
                                <a class="btn btn-default dropdown-text" data-toggle="dropdown" style="box-sizing: border-box;" data-value="analyzerCode">分析器编码</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="box-sizing: border-box;"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a data-value="analyzerCode">分析器编码</a></li>
                                    <li><a data-value="analyzerName">分析器名称</a></li>
                                    @*<li><a data-value="metaData">元数据名称</a></li>*@
                                    @*<li><a data-value="config">配置情况</a></li>*@
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 160px;" />
                        </td>
                        <td style="padding-left: 5px;">
                            <a id="btn_Search" class="btn btn-primary" style="box-sizing: border-box;"><i class="fa fa-search"></i>&nbsp;查询</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                    <a id="lr-active" class="btn btn-default" onclick="btn_relate()"><i class="fa fa-refresh"></i>&nbsp;关联</a>
                    <a id="lr-active" class="btn btn-default" onclick="btn_remove()"><i class="fa fa-refresh"></i>&nbsp;取消关联</a>
                    <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <div style="float:left; padding-right: 10px; overflow-x:auto;">
                <table id="metaDataTable"></table>
                <div id="metaDataPager"></div>
            </div>
            <div style="float:left; overflow-x:auto;">
                <table id="analyzerTable"></table>
                <div id="analyzerPager"></div>
            </div>
        </div>
    </div>
</div>
