<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的桌面</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/adminLTEHQ/css/index.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery/jquery-2.0.3.min.js"></script>
    <script src="~/Content/scripts/plugins/charts/Chart.js"></script>
    <script>
            //$(function () {
            //    if ($('#areascontent').height() > $(window).height() - 20) {
            //        $('#areascontent').css("margin-right", "0px");
            //    }
            //    $('#areascontent').height($(window).height() - 22);
            //    $(window).resize(function (e) {
            //        window.setTimeout(function () {
            //            $('#areascontent').height($(window).height() - 22);
            //        }, 800);
            //    });
            //});
    </script>
</head>
<body style="overflow: hidden; margin: 0px;">
    <div id="areascontent" style="margin: 10px 10px 0 10px; margin-bottom: 0px; overflow: auto;">
        <div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
            <div style="float: left; width: 100%;">
                <div style="height: 100%; border: 1px solid #e6e6e6; overflow: hidden;">
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #578ebe;" data-id="bb649cc5-8a59-44e9-8244-f66286991256">
                            <img src="~/Content/images/nuobo1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
