@{
    ViewBag.Title = "数据项年度分析";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>

    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    .ui-widget-content {
        border: 1px solid #ccc !important;
    }
</style>
<script>
    var jxbm = '',
        yd = '',
        firstType = '',
        secondType = ''
    $(function () {
        InitialPage();
        GetTableGrid();
        Canvas();
    });
    //初始化页面
    function InitialPage() {
        //resize重设表格宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridHeight($(window).height() - 143.5);
            }, 200);
            e.stopPropagation();
        });

        //加载年度数据
        $.SetForm({
            url: "../../PerfConfig/YearSetting/GetYearBmsJson",
            param: {},
            success: function (data) {
                jxbm = data[0].ItemValue
                $("#year .dropdown-text").html(data[0].ItemText).attr('data-value', jxbm);
                $.each(data, function (id, item) {
                    var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                    $('#year').find('ul').append(row);
                });
                //年度选中，生成查询条件
                $("#year .dropdown-menu li").click(function () {
                    var text = $(this).find('a').html();
                    jxbm = $(this).find('a').attr('data-value');
                    $("#year .dropdown-text").html(text).attr('data-value', jxbm);
                });
            }
        });
        //加载一级分类数据
        $.SetForm({
            url: "../../PerfConfig/KpiSetting/GetFirstKindJson",
            param: {},
            success: function (data) {
                $.each(data, function (id, item) {
                    var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                    $('#FirstKind').find('ul').append(row);
                });
                //一级分类选中，生成查询条件
                $("#FirstKind .dropdown-menu li").click(function () {
                    var text = $(this).find('a').html();
                    var value = $(this).find('a').attr('data-value');
                    firstType = value;
                    $("#FirstKind .dropdown-text").html(text).attr('data-value', value);
                    //加载二级分类数据
                    $.SetForm({
                        url: "../../PerfConfig/KpiSetting/GetSecondKindJson",
                        param: { first: $("#FirstKind").find('.dropdown-text').attr('data-value') },
                        success: function (data) {
                            $('#SecondKind').find('ul').html("");
                            $.each(data, function (id, item) {
                                var row = '<li><a data-value="' + item.ItemValue + '">' + item.ItemText + '</a></li>';
                                $('#SecondKind').find('ul').append(row);
                            });
                            //二级分类选中，生成查询条件
                            $("#SecondKind .dropdown-menu li").click(function () {
                                var text = $(this).find('a').html();
                                var value = $(this).find('a').attr('data-value');
                                secondType = value;
                                $("#SecondKind .dropdown-text").html(text).attr('data-value', value);
                            });
                        }
                    });
                });
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            $('#gridTable').jqGrid('setGridParam', {
                url: 'GetCollectionTaskInspectList',
                postData: {
                    "queryJson": JSON.stringify({
                        keyword: $("#txt_Keyword").val(),
                        jxbm: jxbm,
                        typeid: firstType,
                        sectypeid: secondType
                    })
                },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //加载分析列表
    function GetTableGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "GetCollectionTaskInspectList",
            datatype: "json",
            height: $(window).height() - 143.5,
            autowidth: true,
            colModel: [
                //{ label: "编号", name: "XH", index: "XH" },
                { label: "年度", name: "ND", index: "ND", align: "center", width: "100" },
                { label: "一级分类", name: "TYPENAME", index: "TYPENAME" },
                { label: "二级分类", name: "SECTYPENAME", index: "SECTYPENAME" },
                { label: "基础数据项名称", name: "JCSJMC", index: "JCSJMC", width: "260" },
                { label: "实际值", name: "JCSJZ", index: "JCSJZ", align: "center" }
            ],
            viewrecords: true,//显示检索记录
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#tablePager",
            sortname: 'ND desc,YD,JCSJMC',
            sortorder: 'asc',
            rownumbers: true
        });
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="center-Panel">
        <div class="titlePanel">
            <div class="title-search">
                <table>
                    <tr>
                        <td>
                            <div id="year" class="btn-group">
                                <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择年度</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div id="FirstKind" class="btn-group">
                                <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择一级分类</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div id="SecondKind" class="btn-group">
                                <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择二级分类</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入基础数据项" style="width: 200px;" />
                        </td>
                        <td style="padding-left: 5px;">
                            <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridTable"></table>
            <div id="tablePager"></div>
        </div>
    </div>
</div>