@{
    ViewBag.Title = "关键绩效指标设置";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<!--jqgrid表格组件start-->
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<!--表格组件end-->

<style>
    .formula-calc tr {
        margin-bottom: 5px;
    }

    .formula-calc td a {
        margin: 5px 5px;
        padding: 10px 30px;
        display: inline-block;
        border: solid 1px #ccc;
        width: 80px;
        border-radius: 5px;
    }

    .ui-jqgrid {
        overflow: scroll;
    }
</style>

<script>
    var zbgs = '@ViewData["zbgs"]';
    var zbgsms = '@ViewData["zbgsms"]';
    // 计算单位：需要独立的标点符号为1，其他为2，要被变量常量替换的为3，常量为0，变量为9
    var whichEnd = 1;
    var operators = { "+": 1, "(": 2, "-": 1, ")": 2, "*": 1, "%": 3, "/": 1, "‰": 3 };
    var opts = Object.keys(operators);
    $(function () {
        var $calc = $(".formula-calc");
        for (var i = 0; i < opts.length / 2 + 1; i++) {
            var trHtml = "<tr>"
            for (var j = 0; j < 2; j++) {
                var index = i * 2 + j
                if (index == opts.length) break;
                var opt = opts[index];
                trHtml += '<td><a class="btn btn-xs" onclick="set_formula(' + "'" + opt + "'" + ', ' + "'" + opt + "'" + ", operators['" + opt + "'" + '])">' + opt + '</a></td>';
            }
            trHtml += "</tr>";
            $calc.append(trHtml);
        }
        $calc.append('<tr><td colspan="2"><a class="btn btn-xs" style="width:180px;" onclick="reset_formula()">重置</a></td></tr>')
        $("#FormulaNew").val(zbgs);
        $("#FormulaTextNew").val(zbgsms);
        set_whichEnd(zbgs)
        GetGrid();

        $("#constant").change(function () {
            debugger;
            set_formula($("#constant").val(), $("#constant").val(), 0)
            $("#constant").val("");
        });
    });

    function set_formula(newVal, newText, flag) {
        var temp = $("#FormulaNew").val();
        if (whichEnd == 1) {
            //当前结尾为需要独立的符号
            if (flag == 1 || newVal == ")" || flag == 3) {
                //替换
                set_formula_end(newVal, newText, flag, true);
            } else {
                set_formula_end(newVal, newText, flag, false);
            }
        } else if (whichEnd == 2) {
            //当前结尾为其他字符
            valEnd = temp[temp.length - 1];
            if (valEnd == "(") {
                if (flag == 1 || flag == 3) {
                    //替换
                    set_formula_end(newVal, newText, flag, true);
                } else {
                    set_formula_end(newVal, newText, flag, false);
                }
            } else if (valEnd == ")") {
                if (flag == 0 || flag == 9 || newVal == "(") {
                    //替换
                    set_formula_end(newVal, newText, flag, true);
                } else {
                    set_formula_end(newVal, newText, flag, false);
                }
            }
        } else if (whichEnd == 3) {
            //当前结尾为要被变量常量替换的字符
            if (flag == 0 || flag == 9 || flag == 3 || newVal == "(") {
                //替换
                set_formula_end(newVal, newText, flag, true);
            } else {
                set_formula_end(newVal, newText, flag, false);
            }
        } else {
            //当前结尾为变量或常量
            if (flag == 0 || flag == 9 || newVal == "(") {
                //替换
                set_formula_end(newVal, newText, flag, true);
            } else {
                set_formula_end(newVal, newText, flag, false);
            }
        }
    }
    /*方法说明
     *@@method set_formula_end
     *@@param{int}flag 要接上的计算单位类型
     *@@param{boolean}isrep 是否需要截去最后一个计算单位
    */
    function set_formula_end(newVal, newText, flag, isrep) {
        var temp = $("#FormulaNew").val();
        var tempText = $("#FormulaTextNew").val();
        if (isrep) {//截去最后一个计算单位
            temp = temp.substring(0, get_last_index(temp));
            $("#FormulaNew").val(temp);
            tempText = tempText.substring(0, tempText.lastIndexOf(" "));
            $("#FormulaTextNew").val(tempText);
            set_whichEnd(temp);
            set_formula(newVal, newText, flag);
        } else {
            if (flag == 9) {
                //变量加上花括号
                temp += "{" + newVal + "}";
            } else {
                temp += newVal;
            }
            $("#FormulaNew").val(temp);
            tempText += " " + newText;
            $("#FormulaTextNew").val(tempText);
            set_whichEnd(temp);
        }
    }

    ///获取最后一个计算单位的起始索引
    function get_last_index(val) {
        //取最后一个索引
        var last_index = val.length - 1;
        //取最后一个字符
        var last_char = val.substring(last_index);
        if (last_char == "}") {
            //变量结尾，取其{开头索引
            last_index = val.lastIndexOf("{");
        } else if (opts.indexOf(last_char) > -1) {
            //标点符号结尾，取最后一个索引
        } else {
            //常量结尾，前面必跟标点符号
            last_index -= 1;
            //非负浮点数
            //var regP = /^\d+(\.\d+)?$/;
            //非负整数
            var regP = /^\d+$/;
            while (last_index > -1) {
                if (!regP.test(val.substring(last_index))) {
                    break;
                }
                last_index--;
            }
            last_index += 1;
        }
        return last_index;
    }

    function del_one() {
        var temp = $("#FormulaNew").val();
        temp = temp.substring(0, get_last_index(temp));
        $("#FormulaNew").val(temp);
        var tempText = $("#FormulaTextNew").val();
        tempText = tempText.substring(0, tempText.lastIndexOf(" "));
        $("#FormulaTextNew").val(tempText);
        set_whichEnd(temp);
    }

    ///设置结尾标志
    function set_whichEnd(t) {
        if (!t) { whichEnd = 1; return; }
        valEnd = t.substring(get_last_index(t));
        if (opts.indexOf(valEnd) > -1)
            whichEnd = operators[valEnd];
        else
            whichEnd = 0;
    }

    //加载表格
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../PerfConfig/KpiSetting/GetMetaListJson",
            datatype: "json",
            height: 250,
            width: 180,
            autowidth: true,
            colModel: [
                { label: "元数据编码", name: "METCODE", hidden: true },
                { label: "元数据名称", name: "METNAME", index: "METNAME", align: "center" },
            ],
            viewrecords: false,//显示检索记录
            rowNum: 30,
            rowList: [30, 50, 100],
            rownumbers: true,
            pager: "#gridPager",
            sortname: 'METCODE',//排序字段，Pagination的字段sidx，分页必须传
            sortorder: 'desc',//排序方式，Pagination的字段sord，默认asc
            onSelectRow: function () {
                set_formula($("#" + this.id).jqGridRowValue('METCODE'), $("#" + this.id).jqGridRowValue('METNAME'), 9);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                keyword: $("#txt_Keyword").val()
            };
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                //保证搜索时是第一页
                page: 1
            }).trigger('reloadGrid');
        });
        $("#txt_Keyword").change(function () {
            $("#btn_Search").click();
        });
    }

    function reset_formula() {
        $("#FormulaNew").val("");
        $("#FormulaTextNew").val("");
    }

    //保存表单
    function AcceptClick() {
        var $Formula = top.Form.$("#ZBGS");//父级框架指标公式
        var $FormulaText = top.Form.$("#ZBGSMS");//父级框架指标公式
        $Formula.val($("#FormulaNew").val());
        $FormulaText.val($("#FormulaTextNew").val());
        dialogClose();
    }

    function input_number(obj) {
        obj.value = obj.value.replace(/[^\d]/g, '');
    }
</script>

<div style="margin: 20px 20px 0 20px;">
    <table class="form">
        <tr>
            <th style="text-align:left;padding-left:10px;">指标公式</th>
        </tr>
        <tr>
            <td class="formValue">
                <textarea id="FormulaNew" style="min-height:60px;display:none;" type="text" class="form-control" readonly isvalid="yes" checkexpession=""></textarea>
                <textarea id="FormulaTextNew" style="min-height:60px;" type="text" class="form-control" readonly isvalid="yes" checkexpession=""></textarea>
            </td>
        </tr>
    </table>
</div>
<div style="margin: 10px 20px 0px 20px; display:flex;">
    <div style="margin-right: 10px;">
        <p>
            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入元数据名称" style="width: 200px;" />
            <a hidden id="btn_Search"></a>
        </p>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
    <table class="formula-calc" style="width:180px;text-align:center;">
        <tr>
            <td style="padding: 10px;text-align: start;">常量参数</td>
            @*<td><input id="constant" type="text" class="form-control" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" /></td>*@
            <td><input id="constant" type="text" class="form-control" oninput="input_number(this)" /></td>
        </tr>
        <tr><td style="padding: 10px;text-align: start;">计算符号</td><td><a class="btn btn-xs" style="padding:10px 10px;" onclick="del_one()">&larr;Del</a></td></tr>
    </table>
</div>
